<!DOCTYPE html>
<html>
<head>
    <title>Dane</title>
</head>
<body>
    <h1>Temperatura</h1>
    <ul>
        {% for entry in data_entries %}
            <li>Temperatura: {{ entry.temperature }}, Data: {{ entry.date }}</li>
        {% endfor %}
    </ul>

    <h1>Wilgotność</h1>
    <ul>
        {% for entry in data_entries %}
            <li>Wilgotność: {{ entry.humidity }}, Data: {{ entry.date }}</li>
        {% endfor %}
    </ul>

    <h1>Ruch</h1>
    <ul>
        {% for x in motion %}
            <li>Ruch: {{ x.motion }}, Data: {{ x.date }}</li>
        {% endfor %}
    </ul>
</body>
</html>
