<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wilgotność</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div>
        <a href="{% url 'index' %}">Strona główna</a>
    </div>
    <h1>Wilgotność</h1>
    <p id="average-humidity"></p>
    <ul id="humidity-list"></ul>


    <script>
        function fetchData() {
            $.ajax({
                url: 'http://127.0.0.1:8000/api/data/',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    const humidityList = document.getElementById('humidity-list');
                    const averageHumidityElement = document.getElementById('average-humidity'); // Nowy element na średnią wilgotność
                    humidityList.innerHTML = '';

                    let totalHumidity = 0;

                    data.forEach(x => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `Humidity: ${x.humidity}, Date: ${x.date}`;
                        humidityList.appendChild(listItem);

                        totalHumidity += x.humidity;
                    });

                    const averageHumidity = totalHumidity / data.length;

                    averageHumidityElement.textContent = `Średnia wilgotność: ${averageHumidity.toFixed(2)}`; // Wyświetlamy średnią wilgotność
                },
                error: function(error) {
                    console.error('Błąd pobierania danych z API:', error);
                }
            });
        }

        fetchData();

        setInterval(fetchData, 2000);
    </script>
</body>
</html>
