{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{% static 'images/sun.ico' %}" type="image/x-icon">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/humidity.css' %}">
    <title>Wilgotność</title>

</head>
<body>
    <div id="page-container">
        <div id="top-bar">
            <a href="{% url 'index' %}">Strona główna</a>
            <a href="{% url 'temperature' %}">Temperatura</a>
            <a href="{% url 'motion' %}">Ruch</a>
        </div>

        <div id="content-container">
            <h1>Wilgotność</h1>
            <div>
                <canvas id="masno" style="max-height: 250px; max-width: 1000px; min-height: 200px; min-width: 1000px;"></canvas>
            </div>
            <div class="info-bar">
                <div class="info-item">
                    <strong ><p id="max-humidity"></p> </strong>
                </div>
                <div class="info-item">
                    <strong><p id="average-humidity"></p></strong>
                </div>
                <div class="info-item">
                    <strong><p id="median-humidity"></p></strong>
                </div>
            </div>
        <table>
                <thead>
                <tr>
                        <th>Wilgotność</th>
                        <th>Data</th>
                    </tr>
                </thead>
            <tbody id="humidity-table-body">
        </tbody>
        </table>
        </div>
    </div>
<script src="{% static 'js/humidity.js' %}"></script>
</body>
</html>
