{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{% static 'images/sun.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Ruch</title>
    <link rel="stylesheet" href="{% static 'css/motion.css' %}">
</head>
<body>
    <div id="page-container">
        <div id="top-bar">
            <a href="{% url 'index' %}">Strona główna</a>
            <a href="{% url 'temperature' %}">Temperatura</a>
            <a href="{% url 'humidity' %}">Wilgotność</a>
        </div>

        <div id="content-container">
            <h1>Ruch</h1>
            <div class="info-bar">
                <div class="info-item">
                    <strong><p id="last-motion"></p></strong>
                </div>
                <div class="info-item">
                    <strong><p id="time-since-last-motion"></p></strong>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Ruch</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="motion-table-body"></tbody>
            </table>
        </div>
    </div>

<script src="{% static 'js/motion.js' %}"></script>
</body>
</html>
